<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.pledge" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>pledge</name>
    <description>
       A Simple SQLite Implementation.
    </description>
    <author email="rajatjeewooth@hotmail.com" href="http://phonegap.com">
       ME!
    </author>
    <content src="index.html" />
    <access origin="*" />


    	 <plugin spec="https://github.com/litehelpers/Cordova-sqlite-evcore-extbuild-free.git#0.8.2" source="git"/> 
	



</widget>
